header {
  background-color: #002a54;
  padding: 20px 15px;
}
.sidebar {
  position: fixed;
  top: 0;
  width: 20%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  background-color: #002a54;
  color: #fff;
  z-index: 4;
}

.sidebar ul {
  margin-top: 70px;
  text-align: center;
}
.sidebar ul li {
  margin-top: 0px;
  padding: 10px 0;
  border-top: 1px solid #fff;
}
.sidebar .close-icon {
  position: relative;
  cursor: pointer;
}
.sidebar .close-icon i {
  z-index: 4;
  color: #fff;
  font-size: 26px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
}
.sidebar ul li ul {
  display: none;
}
.menu {
  position: relative;
  color: #fff;
  cursor: pointer;
}
.menu i {
  font-size: 26px;
}
