.add_teacher form input {
  width: 100%;
  background-color: #f5f5f5;
  color: #000;
  padding: 10px 15px;
  border: 0;
  outline: 0;
  margin-bottom: 22px;
}
.add_teacher {
  padding: 50px 0;
}
.add_teacher form {
  margin: 20px 0;
}
.add_teacher h2 {
  padding-bottom: 20px;
}
.add_teacher button {
  all: unset;
  background-color: #002a54;
  color: #fff;
  padding: 10px 15px;
}
